In [1]:
import yaml
import pandas as pd
import psycopg2
from sqlalchemy import create_engine
import sqlalchemy

In [2]:
with open('credentials.yaml', 'r') as f:
    credentials = yaml.safe_load(f)

In [4]:
class RDSDatabaseConnector:
    def __init__(self, credentials):
        self.credentials = credentials

    #PROBLEM WITH STRING LITERAL EU-WEST1 AND INDENTATION IN NEXT CODE
    def _create_engine(self):
        engine = create_engine(f"postgresql+psycopg2://{self.credentials['RDS_USER']}:{self.credentials['RDS_PASSWORD']}@{self.credentials['RDS_HOST']}:{self.credentials['RDS_PORT']}/{self.credentials['RDS_DATABASE']}")
        return engine
    
    def initialise_engine(self):
        self.engine = self._create_engine()

    def data_extraction(self, table_name='loan_payments'):
        query = f"SELECT * FROM loan_payments;"
        data = pd.read_sql(query, self.engine)
        return data
    
    def save_to_file(self, data, file_path='loan_payments_data.csv'):
        data.to_csv(file_path, index=False)

    def load_loan_data(self, file_path='loan_payments_data.csv'):
        try:
            return pd.read_csv(file_path)
        except FileNotFoundError:
            print(f"Error: File '{file_path}' not found.")
            return None

In [5]:
loan_data = RDSDatabaseConnector(credentials)
loan_data._create_engine()
loan_data.initialise_engine()
loan_data.data_extraction()
loan_data.data_extraction('loan_payments')
loan_data.save_to_file(data=loan_data.data_extraction('loan_payments'), file_path='loan_payments_data.csv')
loaded_data = loan_data.load_loan_data('loan_payments_data.csv')
print(loaded_data)

             id  member_id  loan_amount  funded_amount  funded_amount_inv  \
0      38676116   41461848         8000         8000.0             8000.0
1      38656203   41440010        13200        13200.0            13200.0
2      38656154   41439961        16000        16000.0            16000.0
3      38656128   41439934        15000        15000.0            15000.0
4      38656121   41439927        15000        15000.0            15000.0
...         ...        ...          ...            ...                ...
54226     76597      76583         5000         5000.0             1775.0
54227    142608      74724         5000         5000.0             2350.0
54228    117045      70978         3500         3500.0             2225.0
54229     88854      70699         5000         5000.0              225.0
54230     72323      70694         5000         5000.0              350.0

            term  int_rate  instalment grade sub_grade  ... recoveries  \
0      36 months      7.49      248.82     A        A4  ...       0.00
1      36 months      6.99      407.52     A        A3  ...       0.00
2      36 months      7.49      497.63     A        A4  ...       0.00
3      36 months     14.31      514.93     C        C4  ...       0.00
4      36 months      6.03      456.54     A        A1  ...       0.00
...          ...       ...         ...   ...       ...  ...        ...
54226  36 months      9.01      159.03     B        B2  ...       0.00
54227  36 months     10.59      162.73     C        C2  ...       0.00
54228  36 months      7.43      108.77     A        A2  ...       0.00
54229  36 months      7.43      155.38     A        A2  ...       0.00
54230  36 months     11.54      164.98     C        C5  ...     182.27

      collection_recovery_fee  last_payment_date last_payment_amount  \
0                        0.00           Jan-2022              248.82
1                        0.00           Jan-2022              407.52
2                        0.00           Oct-2021            12850.16
3                        0.00           Jun-2021            13899.67
4                        0.00           Jan-2022              456.54
...                       ...                ...                 ...
54226                    0.00           Jul-2016              160.61
54227                    0.00           Oct-2016              490.01
54228                    0.00           Sep-2016              110.58
54229                    0.00           Mar-2014                0.00
54230                    1.84           Mar-2014              164.97

      next_payment_date last_credit_pull_date collections_12_mths_ex_med  \
0              Feb-2022              Jan-2022                        0.0
1              Feb-2022              Jan-2022                        0.0
2                   NaN              Oct-2021                        0.0
3                   NaN              Jun-2021                        0.0
4              Feb-2022              Jan-2022                        0.0
...                 ...                   ...                        ...
54226               NaN              Jul-2016                        NaN
54227               NaN              Sep-2016                        0.0
54228          Sep-2016              May-2013                        NaN
54229               NaN              May-2013                        NaN
54230          Dec-2014              Jan-2015                        NaN

      mths_since_last_major_derog  policy_code  application_type
0                             5.0            1        INDIVIDUAL
1                             NaN            1        INDIVIDUAL
2                             NaN            1        INDIVIDUAL
3                             NaN            1        INDIVIDUAL
4                             NaN            1        INDIVIDUAL
...                           ...          ...               ...
54226                         NaN            1        INDIVIDUAL
54227                         NaN            1        INDIVIDUAL
54228                         NaN            1        INDIVIDUAL
54229                         NaN            1        INDIVIDUAL
54230                         NaN            1        INDIVIDUAL

[54231 rows x 43 columns]

In [7]:
loans_df = pd.read_csv('loan_payments_data.csv')
loans_df.head(10)

,id,member_id,loan_amount,funded_amount,funded_amount_inv,term,int_rate,instalment,grade,sub_grade,...,recoveries,collection_recovery_fee,last_payment_date,last_payment_amount,next_payment_date,last_credit_pull_date,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type
0,38676116,41461848,8000,8000.0,8000.0,36 months,7.49,248.82,A,A4,...,0.0,0.0,Jan-2022,248.82,Feb-2022,Jan-2022,0.0,5.0,1,INDIVIDUAL
1,38656203,41440010,13200,13200.0,13200.0,36 months,6.99,407.52,A,A3,...,0.0,0.0,Jan-2022,407.52,Feb-2022,Jan-2022,0.0,NaN,1,INDIVIDUAL
2,38656154,41439961,16000,16000.0,16000.0,36 months,7.49,497.63,A,A4,...,0.0,0.0,Oct-2021,12850.16,NaN,Oct-2021,0.0,NaN,1,INDIVIDUAL
3,38656128,41439934,15000,15000.0,15000.0,36 months,14.31,514.93,C,C4,...,0.0,0.0,Jun-2021,13899.67,NaN,Jun-2021,0.0,NaN,1,INDIVIDUAL
4,38656121,41439927,15000,15000.0,15000.0,36 months,6.03,456.54,A,A1,...,0.0,0.0,Jan-2022,456.54,Feb-2022,Jan-2022,0.0,NaN,1,INDIVIDUAL
5,38656111,41439917,2525,2525.0,2525.0,36 months,11.44,83.20,B,B4,...,0.0,0.0,Jan-2022,91.39,Feb-2022,Jan-2022,0.0,NaN,1,INDIVIDUAL
6,38656110,41439916,6675,6675.0,6675.0,NaN,21.99,254.89,E,E5,...,0.0,0.0,Mar-2021,6724.95,NaN,Mar-2021,0.0,NaN,1,INDIVIDUAL
7,38656067,41439872,26500,26500.0,26200.0,NaN,19.99,701.95,E,E3,...,0.0,0.0,Aug-2021,701.95,NaN,Jan-2022,0.0,43.0,1,INDIVIDUAL
8,38656063,41439868,10000,10000.0,10000.0,60 months,12.99,227.48,C,C2,...,0.0,0.0,Jan-2022,227.48,Feb-2022,Jan-2022,0.0,NaN,1,INDIVIDUAL
9,38656052,41439857,10000,NaN,10000.0,36 months,8.19,314.25,A,A5,...,0.0,0.0,Jan-2022,314.25,Feb-2022,Jan-2022,0.0,NaN,1,INDIVIDUAL